* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: rgba(77, 76, 76, 0.275);
    background-size: cover;
    background-repeat: no-repeat;
}



form {
    box-shadow: 0 0 5px black;
    border-radius: 8px;
    height: 85vh;
    width: 35vw;
    background-color: rgba(77, 76, 76, 0.275);
    padding-top: 0.3rem;

}

form h1 {
    text-align: center;
    color: white;
    text-shadow: 0 0 5px black;
}

form h3 {
    padding-top: 0.7rem;
    padding-left: 2rem;
    color: white;
    text-shadow: 0 0 3px black;
}

form input {
    font-size: 1.1rem;
    margin-top: 0.5rem;
    margin-left: 2rem;
    height: 1.5rem;
    text-shadow: 0 0 4px white;
    width: 23rem;
    border: none;
    border-bottom: 2px solid;
    background-color: transparent;
    outline: none;
    font-weight: 600;
}

form input:last-child {
    border: none;
    border-radius: 4px;
    background-color: orangered;
    width: 15rem;
    height: 2.5rem;
    margin-left: 5.5rem;
    font-weight: bolder;
    color: white;
    cursor: pointer;
    text-shadow: 0 0 3px black;
    margin-top: 2.5rem;
}

.input-gambar {
    width: 19.5rem;
    background-color: rgba(0, 0, 0, 0.300);
    border: 2px gray;
    border-radius: 10px;
    text-shadow: none;
    block-size: 1.7rem;
    font-size: 1.2rem;
    box-shadow: 0 0 5px black;
    margin-left: 4rem;
    font-weight: normal;
}

.imek {
    margin-top: 1.1rem;
}