* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: rgba(0, 0, 0, 0.651);
    height: 3rem;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;

}

.checkout {
    display: flex;
}



.checkout .checkout-pro {
    display: flex;
    height: 90.5vh;
    width: 58vw;
    border: none;
    background: linear-gradient(to top, orangered, rgb(255, 196, 0));
    box-shadow: 0 1rem 2rem black;
    border-bottom-right-radius: 16rem;
    border-top-right-radius: 16rem;
}

.checkout .checkout-pro .pro-img img {
    width: 10rem;
    height: 30rem;
    box-shadow: 0 0 7px rgb(255, 254, 254);
    border-radius: 5px;
    margin-top: 1.5rem;
    margin-left: .5rem;
    animation: zoom 1s ease;
}

/* product */

.checkout .checkout-pro .product {
    margin-left: 1.5rem;
    margin-top: 2rem;
}

.checkout .checkout-pro .product h1 {
    text-align: center;
    font-size: 1.5rem;
    color: white;
    text-shadow: 0 0 2px black;
}

.checkout .checkout-pro .product h1 span {
    color: rgb(15, 165, 224);
}

.checkout .checkout-pro .product h3 {
    margin-top: 1rem;
}

.checkout .checkout-pro .product p {
    height: .9rem;
    width: 15rem;
    border-radius: 3px;
    padding: .5rem;
    font-size: .8rem;
    margin-top: .5rem;
    font-weight: bold;
    color: white;
    text-shadow: 0 0 1px black;
    box-shadow: 0 0 3px white;
    background-color: rgba(0, 0, 0, 0.216);
}

.checkout .checkout-pro .product input {
    height: .9rem;
    width: 15rem;
    padding: .5rem;
    font-size: .8rem;
    background-color: rgba(0, 0, 0, 0.403);
    border: none;
    border-radius: 3px;
    margin-top: 0.5rem;
    color: white;
    font-weight: bolder;
}

/* product end */


/* bill */

.checkout .checkout-bill {
    margin-top: 1rem;
    margin-left: 3rem;
}

.checkout .checkout-bill h1 {
    font-size: 1.5rem;
    text-align: center;
    color: white;
    text-shadow: 0 0 2px black;
}

.checkout .checkout-bill h1 span {
    color: rgb(251, 160, 32);
    text-shadow: none;
}

.checkout .checkout-bill h4 {
    margin-top: .7rem;
    color: black;
    text-shadow: 0 0 2px rgb(118, 224, 248);
}

.checkout .checkout-bill input {
    height: 1.2rem;
    width: 15rem;
    padding: 5px;
    margin-top: .3rem;
    font-size: .7rem;
    outline: none;
}

.checkout .checkout-bill input:last-child {
    height: 3rem;
    width: 16rem;
    margin-top: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    background-color: orangered;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.checkout .checkout-bill input:last-child:hover {
    transition: .5s ease;
    transform: scale(1.1);
}

.img {
    top: 60%;
    left: 74.8%;
    height: 2rem;
    width: 4.5rem;
    position: absolute;
}

.checkout .checkout-bill .name {
    animation: zoom 1.5s ease;
}

.checkout .checkout-bill .email {
    animation: zoom 1.8s ease;
}

.checkout .checkout-bill .alamat {
    animation: zoom 2.2s ease;
}

.checkout .checkout-bill .no {
    animation: zoom 2.5s ease;
}

.checkout .checkout-bill .keterangan {
    animation: zoom 2.8s ease;
}

/* bill end */

@keyframes top {
    from {
        top: -10000px;
    }

    to {
        top: 0;
    }
}

@keyframes zoom {
    0% {
        transform: scale(0.2, .2);
    }

    100% {
        transform: scale(1, 1);
    }
}

@keyframes left {
    from {
        left: -100rem;
    }

    to {
        left: 0;
    }
}