:root {
  --head: rgb(255, 255, 255);
  --bg: rgba(0, 0, 0, 0.781);
  --warm: rgb(255, 85, 0);
  --cold: rgb(0, 187, 255);
}

* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  box-sizing: border-box;
  border: none;
  scroll-behavior: smooth;
}

body {
  font-family: helvetica;
}

/* navbar */

.navbar {
  animation: top 1.5s ease;
  height: 10vh;
  display: flex;
  align-items: center;
  padding: 1rem 3%;
  color: var(--head);
  background-color: var(--bg);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2014;
}

.navbar h1 {
  color: var(--warm);
  width: 20vw;
  margin-right: 10vw;
  margin-left: 1.093vw;
}

.navbar .isi-nav {
    width: 25vw;
    margin-left:5vw ;
}

.navbar .isi-nav a {
  padding: 0 10px;
  color: var(--head);
}

.navbar .isi-nav a:hover {
  color: var(--warm);
  transition: 0.3s;
}

.navbar .ham a {
  color: var(--head);
}
#hamburger-menu {
  display: none;
}

/* navbar end */

/* map */

.contact {
  margin-top: 10vh;
  display: flex;
  flex-wrap: wrap;
}

.map iframe {
  height: 90vh;
  width: 50vw;
  animation: zoom 3s alternate;
}

.form {
  margin-left: 5vh;
}

.form .name{
  width: 43vw;
  border: 2px solid gray;
  height: 7vh;
  margin-top: 1vh;
  margin-bottom: 3vh;
  border-radius: 4px;
  padding-left: .5rem;
}

.form input[type="email"] {
  width: 43vw;
  border: 2px solid gray;
  height: 7vh;
  margin-top: 1vh;
  margin-bottom: 3vh;
  border-radius: 4px;
  padding-left: .5rem;
}

.form textarea {
  width: 43vw;
  border: 2px solid gray;
  height: 40vh;
  resize: none;
  display: flex;
  margin-top: 1vh;
  margin-bottom: 3vh;
  border-radius: 4px;
  padding: .3rem;
}

.submit a {
  display: inline-block;
  padding: 7px 15px;
  color: var(--head);
  background-color: var(--cold);
  border-radius: 6px;
}

.submit a:hover {
  transition: 0.5s ease;
  transform: scale(1.1);
}

/* map end */

/* keyframe */
@keyframes top {
  from {
    top: -100px;
  }
  to {
    top: 0;
  }
}

@keyframes zoom {
  from {
    transform: scale(0.2);
  }
  to {
    transform: scale(1);
  }
}

/* keyframe end */

/* footer */

.footer {
  background-color: var(--bg);
  text-align: center;
  height: 18vh;
  padding: 1rem 0;
  color: var(--bg);
}

footer .direction {
  margin-top: 0.6rem;
  margin-bottom: 0.2544rem;
}

footer .copyright {
  font-size: 0.7rem;
}

footer .copyright .n {
  font-weight: bold;
}

.footer a {
  color: var(--head);
}

.footer .direction a {
  padding: 10px;
}

footer .copyright .c {
  color: var(--head);
}

.footer .sosmed a {
  padding: 7px;
}

.footer .sosmed :hover {
  color: var(--cold);
}

.footer .direction a:hover {
  color: var(--warm);
}

/* footer end */


/* responsif */

@media (max-width: 450px) {
  html {
    font-size: 70%;
    padding: 0 1rem;
    left: 0;
    right: 0;
  }

  .navbar h1 {
    width: 30vh;
    position: relative;
  }

  #hamburger-menu {
    display: inline-block;
    margin: 0 20px;
    margin-left: 20vh;
  }

  .navbar .isi-nav {
    top: 0;
    right: -100%;
    position: absolute;
    width: 100px;
    height: 100vh;
    font-weight: bolder;
    background: var(--bg);
    transition: 0.3s;
  }

  .navbar .isi-nav a {
    display: list-item;
    margin-top: 15px;
    justify-content: center;
    list-style: none;
  }

  .navbar .isi-nav.active {
    right: 0;
  }

  .map iframe {
    height: 80vh;
    width: 93vw;
  }

  .form input[type="text"].name{
  width: 80vw;
  border: 2px solid;
  height: 7vh;
  margin-top: 1vh;
  margin-bottom: 3vh;
  border-radius: 4px;
  }

  .form input[type="email"] {
    width: 80vw;
    border: 2px solid;
    height: 7vh;
    margin-top: 1vh;
    margin-bottom: 3vh;
    border-radius: 4px;
  }

  .form textarea {
  width: 80vw;
  border: 2px solid;
  height: 40vh;
  resize: none;
  display: flex;
  margin-top: 1vh;
  margin-bottom: 3vh;
  border-radius: 4px;
  }

  .submit a {
  display: inline-block;
  padding: 7px 15px;
  color: var(--head);
  background-color: var(--cold);
  border-radius: 6px;
  margin-bottom: 20px;
  cursor: pointer;
}

.submit a:hover {
  transition: 0.5s ease;
  transform: scale(1.1);
}


}
/* responsif end */